{% extends 'account/layout.html' %}
{% block content %}
<style>
body {
text-align: center; /* 页面元素居中 */
} 
</style>      
<div class="container theme-showcase" role="main">
    <br><br><br>   
    <div class="col-md-2 column"></div>
    <div class="col-md-8 column">
        <div class="jumbotron" style="height:360px;">            
            <div class="text-center"><h4> {{campus}} -- {{building}} -- {{room}} -- 教室课程安排表 </h4>
            </div><br>
    
            <div class="text-center">{{date_str}} -- 星期{{weekday}}</div>         
            <div class="col-md-2 column"></div>
            <div class="col-md-6 column text-left">                
              <h5>
                
                {% for d in data_list %}
                   课程名称：{{ d.KCMC }} <br><br>
                   上课时节：第{{d.KS}} ~ {{d.JS}}节<br><br>
                   教室名称：{{d.CLASSROOM_NAME}} <br><br>
                   教师名称：{{ d.TEACHER_NAME }} <br><br>
                   课程安排：{{ d.START_TIME }} <br><br>
                {% endfor %}
                </h5>
            
             </div>
    </div>



</div>
{% endblock %}