{% extends "base.html" %}
{% block body %}
<div class="container theme-showcase" role="main">
    <div class="col-md-12 column">
        <a href='/' class="btn btn-lg btn-success btn-block"  > 返回 </a> 
    </div><br><br><br>  
    <div class="col-md-12 column">
        <div class="jumbotron">            
            <div class="text-center"><h3> {{cleanData.campus}} -- {{cleanData.building}} -- {{cleanData.room}} -- 教室课程安排表 </h3>
            </div>
            {% include 'account/update_downdate.html' %}
        <div class="text-center">{{data_str}} -- 星期{{weekday}}</div>         
        <table class="table table-bordered table-hover">
            <thead>
                <tr>               
                    <th>课节</th>                   
                    <th>课程名称</th>
                    <th>教师名称</th>
                    <th>课程安排</th>                
                </tr>
            </thead>
            <tbody>       
                {% for d in mlist %}
                    <tr>
                        <td>{{ d.j}}</td>

                        {% if d.KCMC %}  
                            <td><a href='/course/list/?kcmc={{d.KCMC}}&date={{data_str}}&t={{d.TEACHER_NAME}}&cid={{d.CLASSROOM_ID}}'><i class="fa fa-university" aria-hidden="true">{{ d.KCMC }}</i></a> </td> 
                        {% else %} 
                            <td></td> 
                        {% endif %}
                        <td>{{ d.TEACHER_NAME}}</td> 
                        <td>{{ d.START_TIME}}</td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>

</div>
{% endblock %}