{% extends 'account/layout.html' %}
{% block content %}
       
<div class="container theme-showcase" role="main">   
    <br><br><br>   
    <div class="col-md-2 column"> </div>
     
    <div class="col-md-8 column text-center">
    <div class="jumbotron">
        <h3> {{query}} -- {{campus}} -- {{building}} </h3>
        {{data_str}} -- 星期{{weekday}}
    
    
    {% include 'account/update_downdate.html' %}

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>教室名称</th>
                <th>第01节</th>
                <th>第02节</th>
                <th>第03节</th>
                <th>第04节</th>
                <th>第05节</th>
                <th>第06节</th>
                <th>第07节</th>
                <th>第08节</th>
                <th>第09节</th>
                <th>第10节</th>
                <th>第11节</th>
                <th>第12节</th>
            </tr>
            </thead>
            <tbody>
            {% for data in data_list %}
                <tr>

                    {% for d in data %}
                        {% if d >= 1 and d <= 12 %}    
                            <td><div style="background:#3ACC3A;">{{d}}</div></td>
                        {% else %}
                            <td>{{d}}</td>
                        {% endif %}                       
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>    
</div>
{% endblock %}