    <div class="col-md-12 column">
        <div class="col-md-1"></div>       
        <div class="col-md-11">

            <form class="form-horizontal" role="form" action="" method="post">               
                {% csrf_token %}

                <input type="text" name="query" value="{{query}}"  style="display:none">
                <input type="text" name="campus" value="{{campus}}"  style="display:none">
                <input type="text" name="building" value="{{building}}"  style="display:none">
                <input type="text" name="room" value="{{room}}"  style="display:none">
                <input type="text" name="count" value="{{count}}"  style="display:none">
                
                  
                
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success" name="update" value="1">上一天</button>  
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-success" name="todaydate" value="1">今 天</button>  
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success" name="downdate" value="1">下一天</button>
                </div> 
                <div class="col-md-3">
                    <input type="date" name="date" value="" autofocus >
                </div>
                <div class="col-md-2">    
                    <button type="submit" class="btn btn-success"  value="">查询</button> 
                </div>            
            </form>
        </div>

        
        <br><br>
    </div>
 
